<div class="row">
<div class="twitterstream col-md-6">
<h3>Twitter stream for {{twitter}}</h3>
    <div class="tweet panel panel-default" ng-repeat="tweet in twitterStream">
        <div class="panel-heading"><h5 class="panel-title">{{tweet.created_at}}</h5></div>
        <div class="panel-body">
            <div class="well">{{tweet.text}}</div>
            <ul>
            <li>Retweets: {{tweet.retweet_count}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="googleplusstream col-md-6">
<h3>Google+ stream for {{googleplus}}</h3>
    <div class="googleplusactivity panel panel-default" ng-repeat="activity in googleplusStream.items">
        <div class="panel-heading"><h5 class="panel-title">{{activity.published}}</h5></div>
        <div class="panel-body">
            <div class="well" ng-if="activity.title">{{activity.title}}</div>
            <div class="well" ng-repeat="attachment in activity.object.attachments">
            <h4>{{attachment.displayName}}</h4>
            <p>{{attachment.content}}</p>
            <a href="{{attachment.url}}"><img ng-src="{{attachment.image.url}}"></a>
            </div>
        </div>
    </div>
</div>
<div>
<button class="btn btn-primary" type="submit" ng-click="reload()">Reload</button>
</div>
</div>