<div>
View Mode:
<select ng-model="viewMode">
  <option value="unified">unified</option>
  <option value="sidebyside">side by side</option>
</select>
<input type="checkbox" ng-model="newestFirst">newest first</input>
</div>
<div class="row" ng-switch on="viewMode">
    <div class="col-md-12" ng-switch-when="unified">
        <h3>Unified stream for {{twitter}} and {{googleplus}}</h3>
        <div ng-repeat="item in stream | orderBy:'created':newestFirst">
            <streamitem item="item"></streamitem>
        </div>
   </div>
    <div ng-switch-default>
        <div class="twitterstream col-md-6">
        <h3>Twitter stream for {{twitter}}</h3>
            <div class="tweet" ng-repeat="item in stream | filter:hasTweet | orderBy:'created':newestFirst">
                <streamitem item="item"></streamitem>
            </div>
        </div>
        <div class="googleplusstream col-md-6">
        <h3>Google+ stream for {{googleplus}}</h3>
            <div class="googleplusactivity" ng-repeat="item in stream | filter:hasGoogleplus | orderBy:'created':newestFirst">
                <streamitem item="item"></streamitem>
            </div>
        </div>
        <div>
        <button class="btn btn-primary" type="submit" ng-click="reload()">Reload</button>
        </div>
        </div>
    </div>
</div>
