<div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title">
            <img src="img/twitter_logo.png" ng-if="item.hasTweet()"></img>
            <img src="img/googleplus_logo.png" ng-if="item.hasGoogleplus()"></img>
            {{item.created | date:'shortDate'}} {{item.created | date:'mediumTime'}}
        </h5>
    </div>

    <div class="panel-body" ng-if="item.hasTweet()">
        <div><img ng-src="{{item.tweet.user.profile_image_url_https}}"></img>{{item.tweet.user.name}} wrote:</div>
        <div class="well">{{item.tweet.text}}</div>
        <ul>
        <li>{{item.tweet.retweet_count}} retweets</li>
        </ul>
    </div>
    <div class="panel-body" ng-if="item.hasGoogleplus()">
        <div class="well" ng-if="item.googleplus.title">{{item.googleplus.title}}</div>
        <div class="well" ng-repeat="attachment in item.googleplus.object.attachments">
        <h4>{{attachment.displayName}}</h4>
        <p>{{attachment.content}}</p>
        <a href="{{attachment.url}}"><img ng-src="{{attachment.image.url}}"></a>
        </div>
    </div>
</div>
